.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-expense__control select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

.new-expense__control-category-add,
.new-expense__control-category-cancel{
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    margin-left: 15px;
    background-color: #40005d;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: #40005d;
}

.new-expense__actions {
    width: 100%;
    text-align: right;
}